<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Easy Recetas  </title>
      <link rel="stylesheet" href="static/css/styles.css">
	  <link rel="stylesheet" href="static/css/r_social.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
	<nav>
		<div class="menu-icon">
		   <span class="fas fa-bars"></span>
		</div>
		<div class="logo">
			<img src="/static/images/easy.png" weight="42" height="42"> Easy Recetas  
		</div>
		<div class="nav-items">
			<li><a href="/main">Menu Principal</a></li>
			<li><a href="/info">Informacion</a></li>
			<li><a href="/contact">Nuestras redes</a></li>
		   <li><a href="/uso">Uso de FastLogistics</a></li>
		   <li role="sing up and sing in"><a href="/sign_in">Iniciar sesion</a></li>
		</div>
		<div class="search-icon">
		   <span class="fas fa-search"></span>
		</div>
		<div class="cancel-icon">
		   <span class="fas fa-times"></span>
		</div>
		<form action="#">
		   <input type="search" class="search-data" placeholder="Search" required>
		   <button type="submit" class="fas fa-search"></button>
		</form>
	 </nav>
      <div class="content">
         <header class="space">NUESTRAS REDES Y CONTACTOS</header>
         <div class="container">
			<!-- (p>lorem)*20 (código a usar si tienes instalada la extensión emmet)-->
		</div>
		<center>
			<a href="https://www.facebook.com/epcc.unsa"><img src="/static/images/facebook.png" weight="60" height="60" margin="0 5px"></a>
			<a href="https://www.linkedin.com/in/ronald-romario-gutierrez-arratia-02ab54242/"><img src="/static/images/linkedin.png" hspace="50" weight="60" height="60"></a>
			<a href="https://www.instagram.com/"><img src="/static/images/instagram.png" weight="60" height="60"></a>
			<a href="https://github.com/Ronald-Gutierrez"><img src="/static/images/github.png" weight="60" height="60"></a>
		</center>
      </div>
	  <script src="/static/js/js_home.js"></script>
   </body>
</html>