<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Transcripcion</title>
   <link rel="stylesheet" href="static/css/styles.css">
   <link rel="stylesheet" href="static/css/main1.css">
   <link rel="stylesheet" href="static/css/tabla.css">
   <link rel="stylesheet" href="static/css/r_social.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
   <script src="../static/js/jquery.js"></script>
   <script src="../static/js/imprimir.js"></script>
   <script type="module" src="https://unpkg.com/jspdf-autotable"></script>
   <style src="../static/css/botones.css"></style>
</head>

<body>
   <nav>
      <div class="menu-icon">
         <span class="fas fa-bars"></span>
      </div>
      <div class="logo">
         <img src="/static/images/easy.png" weight="42" height="42"> Easy Recetas
      </div>
      <div class="nav-items">
         <li><a href="/main">Menu Principal</a></li>
         <li><a href="/contact">Nuestras redes</a></li>
         <li><a href="/uso">Uso de Easy Recetas</a></li>
         <li><a href="/verPDF">GENERAR PDF</a></li>
         <li><a href="{{ url_for('logout')}}"> Cerrar Sesion </a></li>
      </div>
      <div class="search-icon">
         <span class="fas fa-search"></span>
      </div>
      <div class="cancel-icon">
         <span class="fas fa-times"></span>
      </div>
      <form action="#">
         <input type="search" class="search-data" placeholder="Buscar" required>
         <button type="submit" class="fas fa-search"></button>
      </form>
   </nav>
   <label>
      {% if texto|length != 0 %}
      {% for z in texto%}
      <label>{{z}}</label><br>
      {% endfor %}
      {% else %}
      <label>Aqui se escribira el texto transcrito</label><br>
      {% endif %}
   </label>
   <div class="tabla-containers" align="right">
      <table id="resultados">
         <thead>
            <tr>
               <td>Cantidad</td>
               <td>Nombre</td>
               <td>Dosis</td>
               <td>Duración</td>
            </tr>
         </thead>
         <tbody>
            {% for v in valores%}
            <tr>
               {% for ele in v %}
               <td>{{ele}}</td>
               {% endfor %}
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <p>
      <a href="/transenviplay" align="right" class="soniadmin">
         <img src="/static/images/play.png" align="left" height="100" width="100" />
      </a>
      <a href="/transenvistop" class="soniadmin">
         <img src="/static/images/stop.png" align="left" height="100" width="100" />
      </a>
      <a href="/borrar">
         <img src="/static/images/close.png" align="left" height="100" width="100" />
      </a>
      <br>
      <button id="visualizador" onclick="construccion(false);">
         Descargar
      </button>
   </p>
</body>

</html>