<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Easy Recetas</title>
      <link rel="stylesheet" href="static/css/styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
	<nav>
		<div class="menu-icon">
		   <span class="fas fa-bars"></span>
		</div>
		<div class="logo">
			<img src="/static/images/easy.png" weight="42" height="42"> Easy Recetas 
		</div>
		<div class="nav-items">
			<li><a href="/main">Menu Principal</a></li>
			<li><a href="/info">Informacion</a></li>
			<li><a href="/contact">Nuestras redes</a></li>
		   <li><a href="/uso">Uso de Easy Recetas</a></li>
		   <li role="sing up and sing in"><a href="/sign_in">Iniciar sesion</a></li>
		</div>
		<div class="search-icon">
		   <span class="fas fa-search"></span>
		</div>
		<div class="cancel-icon">
		   <span class="fas fa-times"></span>
		</div>
		<form action="#">
		   <input type="search" class="search-data" placeholder="Search" required>
		   <button type="submit" class="fas fa-search"></button>
		</form>
	 </nav>
      <div class="content" text="orange">
         <header class="space">Instrucciones para usar Easy Recetas</header>
        <div class="teeext" text="orange">
        Easy Recetas es una herramienta que permite a los medicos poder hacer sus consulta<br>
		de una forma mas rapida<br>
		-Primero debera inicar sesion donde ya estaran sus datos cargados<br>
		-Luego en la ventana de transcripciones podre dictar la receta<br>
		seleccionando el boton de play.<br>
		-Esto se grabara en el documento, que luego podra descargarlo, y almacernarlo localmente.<br>
		-Una vez desacargado, podra enviarlo al usuario que hizo la consulta medica.

        </div>
      </div>
	  <script src="/static/js/js_home.js"></script>
      
   </body>
   
</html>